.cart{
    width: 100%;
    height: 100%;
}

.cart_vertical{
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
}

.cart_section{
    width: 100%;
    justify-content: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.title--left,
.list_messaje,
.list_summary{
    margin: 0;
}
